@model GetInputModel
@{
    ViewData["Title"] = "Home Page";
}
<!-- home page header title -->
<h2>Guess That Gender!</h2>
<!-- home page description -->
<p><em>Guess That Gender!</em> is an application that allows you to input your name and the application will make an educated guess at what your gender is! Try it out below!</p>
    <!-- home page form that posts information to ProcessName razor view page -->
    <form asp-controller="Home" asp-action="Index">
         <table>
            <tr>
                <!-- input label for name -->
                <td><label for="Name"><b>Name: </b></label></td>
                <!-- input for name -->
                <td><input type="text" placeholder="enter name" name="name" id="name" required></td>
            </tr>
            <tr>
                <br />
                <td></td>
                <tr><td><p></p></td></tr>
                <!-- submit button to post information to ProcessName razor view page -->
                <td><button type="submit" value="Submit">Try now!</button></td>
            <tr><td><p></p></td></tr>
           <tr>
                <td></td>
                <!-- shows error on input if field is left null -->
                <td><p class="error">@ViewBag.ErrorMessage</p></td>
            </tr>
        </table>
     </form> <!-- end of form -->
     <!-- division for output table -->
     <div>
      <!-- if statement that makes sure the GetInputModel is not empty and has something in it -->
      @if (Model != null && Model.Count> 0)
    {
        <!-- beginning of output table with formattion -->
        <table class="table table-bordered table-striped table-sm">
            <!-- beginning of table header -->
            <thead>
                <!-- beginning of table header row -->
                <tr>
                      <!-- table header for Count column -->
                     <th>Count</th>
                     <!-- table header for Gender column -->
                    <th>Gender</th>
                    <!-- table header for Name column -->
                    <th>Name</th>
                    <!-- table header for Probability coulmn -->
                    <th>Probability</th>
                </tr> <!-- end of table header row -->
            </thead> <!-- end of table header -->
            <!-- beginning of table body -->
            <tbody>
                <!-- beginning of table body row -->
                <tr>
                    <!-- calling html's display property for the model's count property -->
                    <td>@Html.DisplayFor(model => model.Count)</td>
                    <!-- calling html's display property for the model's gender property -->
                    <td>@Html.DisplayFor(model => model.Gender)</td>
                    <!-- calling html's display property for the model's name property -->
                    <td>@Html.DisplayFor(model =>model.Name)</td>
                    <!-- calling html's display property for the model's probability property -->
                    <td>@Html.DisplayFor(model => model.Probability)</td>
                </tr> <!-- end of table body row -->
            </tbody> <!-- end of table body -->
        </table> <!-- end of output table -->
    } <!-- end of if statement --> 
</div> <!-- end of output table division -->